.github
.idea
coverage
reports

.editorconfig
.eslintrc
.gitattributes
.gitignore
.npmignore
.prettierrc
jest.config.json
release.config.js
renovate.json
stryker.conf.json
tsconfig*.json
*/**/*.js.map
*/**/*.tsbuildinfo
*.tgz
